html {
    font-family: "STIX Two Text", sans-serif;
}
body {
    background-color: rgb(148, 96, 59);
    margin: 0;
    height: 100vh;
}
.hanzi {
    font-family: "Noto Sans SC", sans-serif;
}
/*HEADER*/
header {
    background-color: rgb(20, 24, 27);
    height: 72px;
    color: white; 
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-weight: 600;
    
}
#menuButton {
    height: 50%;
}
@media only screen and (min-width: 800px) {
    #menuButton {
    display: none;
}
}
/*MAIN*/
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 5000px;
}
/*HOME*/
.packList {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.pack {
    background-color: white;
    width: 300px;
    height: 400px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: solid 4px gray;
    transition: transform 0.3s ease;
}
.pack:hover {
    transform: scale(104%);
}
/*PACK*/
h2 {
    color: white;
}
.card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    cursor: pointer;
    transition: 0.3s ease;
    transform-style: preserve-3d;
    border: solid 4px gray;
    box-sizing: border-box;
}
.cardFront {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.character {
    font-size: 100px;
}
.cardBack {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    text-align: center;
    font-size: 25px;
}
.cardBack p {
    margin: 5px;
}
.nextButton {
    width: 300px;
    height: 50px;
    background-color: white;
    border: solid 4px gray;
    box-sizing: border-box;
    font-family: "Stix Two Text", serif;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    transition: background-color ease 0.2s;
}
.nextButton:hover {
    background-color: rgb(238, 240, 233);
}
/*FOOTER*/
footer {
    height: 72px;
    width: 100%;
    background-color: rgb(20, 24, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}